*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;    

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 16px;
}

button {
    padding: 16px;
}